<main class="container">
  <section class="row">
    <div class="col-6 push-3">
      <h2 class="centered-text">Results</h2>
      <h2><%= @total_hours.round(2) %></h2><h2> Total Hours </h2>
      <h2><%= @total_entries %></h2><h2> Total Entries </h2>
    </div>
  </section>
</main>
