<main class="container">
  <section class="row">
    <div class="col-6 push-3 centered-text">
      <h2>Safety Check Harvest Time</h2>
      <p>Choose a client to view service </p>
    </div>
  </section>
</main>

